.recipe-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.recipe-li{
    background-color: #F7F7F7;
    margin: 20px;
    padding: 8px;
}
.recipe-img{
    width: 400px;
    height: 300px;
}
.recipe-name{
    font-size: 22px;
}
.recipe-span{
    background-color: transparent;
    color: gray;
    font-size:12px;
    font-style: italic;
}
.previous-search{
    display: flex;
    justify-content: center;
    background-color:#B3C7CA ;
    font-size: 14px;
    align-items: center;
    margin-left: 500px;
    border-radius: 1px;
    width: fit-content;
    height: fit-content;
}