
.login_form input{
    
    height: 41px;
    width: 400px;
    padding: 0 24px;
    border: darkgray 1px solid;
    line-height: 16px;
    margin-bottom: 16px;
    font-size: 16px;
  }
  .after_login {
    padding-top: 30px;
    
  }
  .after_login input,label{
  align-content: flex-start;
  }
  
  .after_login a{
    font-size: 16px;
    color: gray;
    margin-left: 60px;  
  }

.fields{
    position: absolute;
    left: 60%;
    margin-left: -180px;
    /* background-color: #ffffff; */
    opacity: 0.9;
    /* margin-left: 2%; */
    margin-top:-44%;
    padding: 13px;
    border-radius: 08px;
   
}

.buttons{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn1{
  font-weight: bold;
  margin: 10px;
  width: 90px;
  background-color: #ff8c00;
  color:  #ffffff;

  font-size: 18px;
  padding: 8px 14px;
  border:  #887660;
  cursor: pointer;
  border-radius: 5px;
}
.error{
  color:red;
  font-weight: bolder;

}

.btn2{   
    margin: 10px; 
    width: 90px;
    background-color: #160c00;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.field input{
  height: 41px;
  width: 400px;
  padding: 0 24px;
  border: darkgray 1px solid;
  line-height: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  border-radius: 08px;
    /* border-radius: 08px;
    height: 41px;
    width: 400px;
    /* padding: 0 24px; */
   /* border: darkgray 1px solid;
    line-height: 16px;
    margin-bottom: 16px;
    font-size: 16px; */
}
.field label{
  margin-right: 5px;
  /* margin-left: 5%; */
  font-size: 22px;
  background-color: #1C2B36;
  font-weight:bold ;
  /* height: 80px; */
  width: 500px;
  padding: 5px 24px;
  color:#fff;
  margin-bottom: 16px;
  border-radius: 08px;
}


  .search-input:focus {
  outline: transparent;
  }
  .search-input:focus::placeholder {
  color: transparent;
  }
  #subscribe-button-span{
      background-color: transparent;
  }
  #subscribe-button-home  {
  border: none;
  border-radius: 2px;
  padding: 1rem 1rem;
  outline: none;
  cursor: pointer;
  min-width: 7rem;
  text-align: center;
  color: white;
  background-color: #2D4558;
  }
  #subscribe-button-home:hover{
  background-color: #4d6477;
  }


.submit{
  color: #887660;
  font-weight: bold;
}

.data_login{
  position: absolute;
  top:30px;
  font-size: 50px;
}